<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form 
    id="new-form" 
    action="/profiles/<%= house._id %>?_method=PUT"
    method="POST"
  >
    <label for="address-input">Address:</label>
      <input type="text" name="address" value="<%= house.address %>" id="house-address-input">
    <label for="price">Price:</label>
      <input 
      type="number" 
      name="price"
      value="<%= house.price %>"
      id="house-price"
    >
    <label for="email">Email</label>
       <input type="text" name="email" value="<%= house.email %>" id="house-email">
    <label for="phoneNo">Phone Number:</label>
    <input type="number" name="phoneNo" value="<%= house.phoneNo %>" id="house-phone">
    <button type="submit">Update House</button>
  </form>
</main>


<%- include('../partials/footer') %>