<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div class="section-one">
<div class="eleven">
<h1>Welcome <%= user.profile.name %>!</h1>
</div>

<h2 class="profile-heading">Scroll down to see your listings or add a new using the forms below</h2>

  <% if (isSelf) { %>
    <div class="form">
    <form action="/profiles/<%= profile._id %>/houses" method="POST" class="form-1 style-8">
      <h2 class="form-heading">Add a House</h2><br>
      <label class="form-label">
        Address:
        <input type="text" name="address" autocomplete="off" class="input-address">
      </label><br>
      <label>
        Price:
        <input type="number" name="price" class="input-price">
      </label><br>
      <label>
        Number of Bedrooms:
        <input type="number" name="numBedrooms" class="input-num">
      </label><br>
      <label>
        Number of Bathrooms:
        <input type="number" name="numBathrooms" class="input-num">
      </label><br>
      <label>
        Contact Number:
        <input type="number" name="phoneNo" class="input-contact">
      </label><br>
      <label>
        Contact Email:
        <input type="text" name="email" class="input-contact">
      </label><br>
      <label for="exampleFormControlTextarea1">
        Property Description:
        <textarea class="text-area" name="description" rows="3" ></textarea>
        </label><br>
      <button type="submit" class="btn btn-outline-secondary add">Add House for Sale</button>
    </form>
  <% } %>
  <% if (user) { %>
    <form action="/profiles/<%= profile._id %>/apartments" method="POST" class="form-2 style-8">
      <h2 class="form-heading">Add an Apartment</h2>
      <label>
        Address:
        <input type="text" name="address" autocomplete="off" class="input-address">
      </label><br>
      <label>
        Price:
        <input type="number" name="price" class="input-price">
      </label><br>
      <label>
        Number of Bedrooms:
        <input type="number" name="numBedrooms" class="input-num">
      </label><br>
      <label>
        Number of Bathrooms:
        <input type="number" name="numBathrooms" class="input-num">
      </label><br>
      <label>
        Contact Number:
        <input type="number" name="phoneNo" class="input-contact">
      </label><br>
      <label>
        Contact Email:
        <input type="text" name="email" class="input-contact">
      </label><br>
      <label for="exampleFormControlTextarea1">
        Property Description:
        <textarea class="text-area" name="description" rows="3" ></textarea>
        </label><br>
      <button type="submit" class="btn btn-outline-secondary add">Add Apartment for Rent</button>
    </form>
  </div>
  <% } %>
</div>

<div class="section-2">
  <h3 class="show">Your Houses for Sale</h3><br>
  <ul>
  <% profile.houses.forEach(house => { %> 
    <li>

      <div class="card w-75 h-75 p-3 text-dark  border-success mb-5 shadow-lg body rounded overflow-auto">
        <div class="card-body">
          <h5 class="card-title">Address: <%= house.address %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">
            Price: <%= house.price %><br>
            Bedrooms: <%= house.numBedrooms %><br>  
            Bathrooms: <%= house.numBathrooms %><br>
            Email: <%= house.email %><br>
            Phone Number: <%= house.phoneNo %><br>
            Description: <%= house.description %><br>
          </p> 
        </div>
      </div>
      <a href="/houses/<%= house._id %>/edit">
        <button type="submit" class="btn btn-outline-primary">Edit House</button>
      </a>
      <form action="/houses/<%= house._id %>/delete?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-outline-primary">Delete this house</button>
      </form>
    </li>
  <% }) %> 
  </ul>
  <h3 class="show">Your Apartments for Rent</h3><br>
  <ul>
    <% profile.apartments.forEach(apartment => { %> 
        <li>
  
          <div class="card w-75 h-75 p-3 text-dark  border-success mb-5 shadow-lg body rounded overflow-auto">
            <div class="card-body">
              <h5 class="card-title"><%= apartment.address %> </h5>
              <h6 class="card-subtitle mb-2 text-muted"></h6>
              <p class="card-text">
                Rent: <%= apartment.price %><br>
                Bedrooms: <%= apartment.numBedrooms %><br>  
                Bathrooms: <%= apartment.numBathrooms %><br>
                Email: <%= apartment.email %><br>
                Phone Number: <%= apartment.phoneNo %><br>
                Description: <%= apartment.description %><br>  
                </p>
            </div>
          </div>
          <a href= "/apartments/<%= apartment._id %>/edit">
            <button class="btn btn-outline-primary">Edit Apartment</button>
          </a>
          <form action="/apartments/<%= apartment._id %>/delete?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-outline-primary">Delete this apartment</button>
          </form>
        </li>
    <% }) %> 
    </ul>
  </div>

<%- include('../partials/footer') %>