<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Welcome <%= user.profile.name %> </h1>
<h2>See your listings or add a new one</h2>
<h3><%= title %> </h3>
<section>
  <% if (isSelf) { %>
    <h2>Add a House for Sale!</h2><br>
    <form action="/profiles/<%= profile._id %>/houses" method="POST">
      <label>
        Address:
        <input type="text" name="address" autocomplete="off">
      </label><br>
      <label>
        Price:
        <input type="number" name="price">
      </label><br>
      <label>
        Contact Number:
        <input type="number" name="phoneNo">
      </label><br>
      <label>
        Contact Email:
        <input type="text" name="email">
      </label><br>
      <label>
        Property Description:
        <input type="string" name="description">
      </label><br>
      <label>
        Number of Bedrooms:
        <input type="number" name="numBedrooms">
      </label><br>
      <label>
        Number of Bathrooms:
        <input type="number" name="numBathrooms">
      </label><br>
      <button type="submit">Add Home for Sale</button>
    </form>
  <% } %>
</section>
<section>
  <% if (user) { %>
    <h2>Add An Apartment for Rent!</h2><br>
    <form action="/profiles/<%= profile._id %>/apartments" method="POST">
      <label>
        Address:
        <input type="text" name="address" autocomplete="off">
      </label><br>
      <label>
        Price:
        <input type="number" name="price">
      </label><br>
      <label>
        Contact Number:
        <input type="number" name="phoneNo">
      </label><br>
      <label>
        Contact Email:
        <input type="text" name="email">
      </label><br>
      <label>
        Property Description:
        <input type="string" name="description">
      </label><br>
      <label>
        Number of Bedrooms:
        <input type="number" name="numBedrooms">
      </label><br>
      <label>
        Number of Bathrooms:
        <input type="number" name="numBathrooms">
      </label><br>
      <button type="submit">Add Apartment for Rent</button>
    </form>
  <% } %>
  <h3>Your Houses for sale</h3><br>
  <ul>
  <% profile.houses.forEach(house => { %> 
    <li>
      Address: <%= house.address %><br>
      Price: <%= house.price %><br>
      Email: <%= house.email %><br>
      Phone Number: <%= house.phoneNo %><br>
      Description: <%= house.description %><br> 
      Bedrooms: <%= house.numBedrooms %><br>  
      Bathrooms: <%= house.numBathrooms %><br> 
      <a href="/houses/<%= house._id %>/edit">
        <button type="submit">Edit House</button>
      </a>
      <form action="/houses/<%= house._id %>/delete?_method=DELETE" method="POST">
        <button type="submit">Delete this house</button>
      </form>

    </li>
  <% }) %> 
  </ul>
  <h3>Your Apartments for rent</h3><br>
  <ul>
    <% profile.apartments.forEach(apartment => { %> 
        <li>
          Address: <%= apartment.address %><br>
          Rent: <%= apartment.price %><br>
          Email: <%= apartment.email %><br>
          Phone Number: <%= apartment.phoneNo %><br>
          Description: <%= apartment.description %><br>  
          Bedrooms: <%= apartment.numBedrooms %><br>  
          Bathrooms: <%= apartment.numBathrooms %><br> 
          <a href= "/apartments/<%= apartment._id %>/edit">
            <button>Edit Apartment</button>
          </a>
          <form action="/apartments/<%= apartment._id %>/delete?_method=DELETE" method="POST">
            <button type="submit">Delete this apartment</button>
          </form>
        </li>
    <% }) %> 
    </ul>
</section>

<%- include('../partials/footer') %>