<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<h1>Welcome <%= user.profile.name %> </h1>
<h2 class="profile-heading">See your listings or add a new one</h2>

  <% if (isSelf) { %>
    <div class="form">
    <form action="/profiles/<%= profile._id %>/houses" method="POST" class="form-1">
      <h2>Add a House for Sale!</h2><br>
      <label class="form-label">
        Address:
        <input type="text" name="address" autocomplete="off" class="form-control">
      </label><br>
      <label>
        Price:
        <input type="number" name="price" class="form-control">
      </label><br>
      <label>
        Contact Number:
        <input type="number" name="phoneNo" class="form-control">
      </label><br>
      <label>
        Contact Email:
        <input type="text" name="email" class="form-control">
      </label><br>
      <label for="exampleFormControlTextarea1">
        Property Description:
        <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
        </label><br>
      <label>
        Number of Bedrooms:
        <input type="number" name="numBedrooms" class="form-control">
      </label><br>
      <label>
        Number of Bathrooms:
        <input type="number" name="numBathrooms" class="form-control">
      </label><br>
      <button type="submit" class="btn btn-primary">Add Home for Sale</button>
    </form>
  <% } %>
  <% if (user) { %>
    <form action="/profiles/<%= profile._id %>/apartments" method="POST" class="form-2">
      <h2>Add An Apartment for Rent!</h2>
      <label>
        Address:
        <input type="text" name="address" autocomplete="off" class="form-control">
      </label><br>
      <label>
        Price:
        <input type="number" name="price" class="form-control">
      </label><br>
      <label>
        Contact Number:
        <input type="number" name="phoneNo" class="form-control">
      </label><br>
      <label>
        Contact Email:
        <input type="text" name="email" class="form-control">
      </label><br>
      <label for="exampleFormControlTextarea1">
        Property Description:
        <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
        </label><br>
      <label>
        Number of Bedrooms:
        <input type="number" name="numBedrooms" class="form-control">
      </label><br>
      <label>
        Number of Bathrooms:
        <input type="number" name="numBathrooms" class="form-control">
      </label><br>
      <button type="submit" class="btn btn-primary">Add Apartment for Rent</button>
    </form>
  </div>
  <% } %>

  <h3>Your Houses for sale</h3><br>
  <ul>
  <% profile.houses.forEach(house => { %> 
    <li>

      <div class="card w-75 h-75 p-3 text-dark bg-info border-success mb-5 shadow-lg body rounded overflow-auto">
        <div class="card-body">
          <h5 class="card-title">Address: <%= house.address %></h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">
            Price: <%= house.price %><br>
            Email: <%= house.email %><br>
            Phone Number: <%= house.phoneNo %><br>
            Description: <%= house.description %><br> 
            Bedrooms: <%= house.numBedrooms %><br>  
            Bathrooms: <%= house.numBathrooms %><br>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
      <a href="/houses/<%= house._id %>/edit">
        <button type="submit" class="btn btn-outline-primary">Edit House</button>
      </a>
      <form action="/houses/<%= house._id %>/delete?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-outline-primary">Delete this house</button>
      </form>

    </li>
  <% }) %> 
  </ul>
  <h3>Your Apartments for rent</h3><br>
  <ul>
    <% profile.apartments.forEach(apartment => { %> 
        <li>
  
          <div class="card w-75 h-75 p-3 text-dark bg-info border-success mb-5 shadow-lg body rounded overflow-auto">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">
                Rent: <%= apartment.price %><br>
                Email: <%= apartment.email %><br>
                Phone Number: <%= apartment.phoneNo %><br>
                Description: <%= apartment.description %><br>  
                Bedrooms: <%= apartment.numBedrooms %><br>  
                Bathrooms: <%= apartment.numBathrooms %><br></p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
          <a href= "/apartments/<%= apartment._id %>/edit">
            <button class="btn btn-outline-primary">Edit Apartment</button>
          </a>
          <form action="/apartments/<%= apartment._id %>/delete?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-outline-primary">Delete this apartment</button>
          </form>
        </li>
    <% }) %> 
    </ul>


<%- include('../partials/footer') %>