<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<%= title %> 

<section>
  <h1>Apartments for rent</h1>
  <h2>All Apartments</h2>
  <ul>
    <% apartments.forEach(apartment => { %>
      <li>
        Address: <%= apartment.address %><br>
        Price: <%= apartment.price %><br>
        Email: <%= apartment.email %><br>
        Phone Number: <%= apartment.phoneNo %><br>
        Description: <%= apartment.description %><br>  
        Bedrooms: <%= apartment.numBedrooms %><br>  
        Bathrooms: <%= apartment.numBathrooms %><br>     
        
      </li>
    <% }) %>
    </ul>
</section>

<%- include('../partials/footer') %>