<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<div class="eleven">
  <h1>Apartments for rent</h1><br><br>
</div>

<div class="apartments">
  <% apartments.forEach(apartment => { %> 
      <div class="card w-75 h-75 p-3 text-dark border-success mb-5 shadow-lg body rounded overflow-auto">
        <div class="card-body">
          <h5 class="card-title"><%= apartment.address %> </h5>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
          <p class="card-text">
            Rent: <%= apartment.price %><br>
            Bedrooms: <%= apartment.numBedrooms %><br>  
            Bathrooms: <%= apartment.numBathrooms %><br>
            Email: <%= apartment.email %><br>
            Phone Number: <%= apartment.phoneNo %><br>
            Description: <%= apartment.description %><br>  
            </p>
          <!-- <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>
      <% }) %> 
    </div>


<%- include('../partials/footer') %>