<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form 
    id="new-form" 
    action="/houses/<%= house._id %>?_method=PUT"
    method="POST"
  >
    <label for="address-input">Address:</label>
      <input type="text" name="address" value="<%= house.address %>" id="house-address-input, input">
    <label for="price">Price:</label>
      <input type="number" name="price" value="<%= house.price %>" id="house-price, input">
    <label for="email">Email</label>
       <input type="text" name="email" value="<%= house.email %>" id="house-email, input">
    <label for="phoneNo">Phone Number:</label>
      <input type="number" name="phoneNo" value="<%= house.phoneNo %>" id="house-phone, input">
    <label for="description">Description:</label>
      <input type="text" name="description" value="<%= house.description %>" id="house-description, input">
    <label for="numBedrooms">Number of Bedrooms:</label>
      <input type="number" name="numBedrooms" value="<%= house.numBedrooms %>" id="house-numBedrooms, input">
      <label for="numBathrooms">Number of Bathrooms:</label>
      <input type="number" name="numBathrooms" value="<%= house.numBathrooms %>" id="house-numBathrooms, input">
    <button type="submit">Update House</button>
  </form>
</main>


<%- include('../partials/footer') %>