<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<div class="eleven">
<h1>Houses for sale</h1><br><br>
</div>

<div class="houses">
  <% houses.forEach(house => { %> 
      <div class="card w-75 h-75 p-3 text-dark border-success mb-5 shadow-lg body rounded overflow-auto">
        <div class="card-body">
          <h5 class="card-title"><%= house.address %> </h5>
          <h6 class="card-subtitle mb-2 text-muted"></h6>
          <p class="card-text">
            Price: <%= house.price %><br>
            Bedrooms: <%= house.numBedrooms %><br>  
            Bathrooms: <%= house.numBathrooms %><br>
            Email: <%= house.email %><br>
            Phone Number: <%= house.phoneNo %><br>
            Description: <%= house.description %><br>  
            </p>
          <!-- <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>
      <% }) %> 
    </div>


<%- include('../partials/footer') %>