<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<%= title %> 

<section>
  <h1>All Houses for sale</h1><br><br>
	<ul>
  <% houses.forEach(house => { %>
    <li>
      <%= house.address %><br>
      Price: <%= house.price %>    
    </li>
  <% }) %>
  </ul>
</section>


<%- include('../partials/footer') %>