<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<%= title %> 

<section>
  <h1>All Houses for sale</h1><br><br>
	<ul>
  <% houses.forEach(house => { %>
    <li>
      Address: <%= house.address %><br>
      Price: <%= house.price %><br>    
      Email: <%= house.email %><br>
      Phone Number: <%= house.phoneNo %><br>
      Description: <%= house.description %><br>  
      Bedrooms: <%= house.numBedrooms %><br>  
      Bathrooms: <%= house.numBathrooms %><br> 
    </li>
  <% }) %>
  </ul>   
</section>


<%- include('../partials/footer') %>